# ──────────────────────────────────────── Global ─────────────────────────────────────────────────
BROKER_URL = "redis://localhost:6379/0"
RESULT_BACKEND = "redis://localhost:6379/1"



# ──────────────────────────────────────── Auth ─────────────────────────────────────────────────
AUTH__JWT_SECRET_KEY = # Change this to a strong secret key in production



# ──────────────────────────────────────── Embedding ─────────────────────────────────────────────────
EMBEDDING__API_KEY = 
EMBEDDING__DIMENSION = 
EMBEDDING__PROVIDER = "google" # Options: google | openai
EMBEDDING__MODEL = 
EMBEDDING__BASE_URL = ""  # Only for OpenAI provider



# ──────────────────────────────────────── Relational DB ─────────────────────────────────────────────────
RELATIONAL_DB__SYNC_URL = # "postgresql://{username}:{password}@localhost:5432/{database_name}"
RELATIONAL_DB__ASYNC_URL = # "postgresql+asyncpg://{username}:{password}@localhost:5432/{database_name}"



# ──────────────────────────────────────── Vector DB ─────────────────────────────────────────────────
VECTOR_DB__PROVIDER = "qdrant" # Options: qdrant | pgvector

# ── Qdrant ────────────────────────────────────────────────────────────────────
VECTOR_DB__QDRANT__URL = "http://localhost:6333"
VECTOR_DB__QDRANT__API_KEY =   # leave empty for local / open instance
VECTOR_DB__QDRANT__COLLECTION_NAME = "uni_rag_chunks"

# ── PgVector ──────────────────────────────────────────────────────────────────
VECTOR_DB__PGVECTOR__SYNC_URL = # "postgresql://{username}:{password}@localhost:5432/{database_name}" 
VECTOR_DB__PGVECTOR__ASYNC_URL = # "postgresql+asyncpg://{username}:{password}@localhost:5432/{database_name}"
VECTOR_DB__PGVECTOR__TABLE_NAME = "uni_rag_chunks" 



# ──────────────────────────────────────── LLM ─────────────────────────────────────────────────
LLM__API_KEY =
LLM__LLM =
LLM__VLM =
